<a href="https://colab.research.google.com/github/sajalbhuiyan/gitone/blob/main/Numpay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data=pd.DataFrame({
    'Name':['Sajal','Walid','Arman'],
    'Age':[23,5,20],
    'Salary':[5555550,2939384,1500000]
})
print(data.head())

    Name  Age   Salary
0  Sajal   23  5555550
1  Walid    5  2939384
2  Arman   20  1500000

In [2]:
print(data.describe())

             Age        Salary
count   3.000000  3.000000e+00
mean   16.000000  3.331645e+06
std     9.643651  2.056033e+06
min     5.000000  1.500000e+06
25%    12.500000  2.219692e+06
50%    20.000000  2.939384e+06
75%    21.500000  4.247467e+06
max    23.000000  5.555550e+06

In [4]:
filter_data=data[data['Age']>20]
print(filter_data)

    Name  Age   Salary
0  Sajal   23  5555550